.cart-item-card {
    height: 180px;

    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 130px auto 165px;
    grid-auto-rows: minmax(50px, auto);
    padding: 5px;

    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;

    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
}
.cart-item-card-dark {
    -webkit-box-shadow: 3px 3px 10px 3px #646464;
    -moz-box-shadow: 3px 3px 10px 3px #646464;
    box-shadow: 3px 3px 10px 3px#646464;
}

.quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 2;
}

.quantity-button {
    height: 35px;
    font-size: 20px;
}

.quantity-input-number {
    height: 35px;
    width: 40px;
    font-size: 20px;
    border: none;
    text-align: center;
}

.quantity-input-number-dark {
    background-color: black;
    color: white;
}

.cart-item-image {
    grid-column: 1;
    grid-row: 2;
    width: 130px;
    border-radius: 15px;
}
.cart-item-price {
    text-underline-offset: 2px;
    grid-column: 2;
    grid-row: 3;
    font-size: 20px;
}

.cart-item-delete-button {
    grid-column: 3;
    grid-row: 3;
}
.cart-item-delete-button:hover {
    background-color: rgb(73, 0, 0);
}
.cart-item-quantity {
    grid-column: 3;
    grid-row: 1;
}
.cart-item-quantity-max {
    text-decoration: line-through;
    grid-column: 3;
    grid-row: 1;
}
.cart-item-title {
    font-size: 20px;
    justify-self: flex-start;
    grid-column: 2;
    grid-row: span 2;
    margin-left: 5px;
}

@media (max-width: 700px) {
}
