.pc-container {
    width: 300px;
    height: auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 370px 40px 40px auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;

    border-radius: 15px;

    margin: 10px;
}
.pc-container:hover {
    -webkit-box-shadow: 0 0 19px 6.5px #888888;
    -moz-box-shadow: 0 0 19px 6.5px #888888;
    box-shadow: 0 0 19px 6.5px #888888;
}
.pc-container-dark {
    -webkit-box-shadow: 3px 3px 10px 3px #646464;
    -moz-box-shadow: 3px 3px 10px 3px #646464;
    box-shadow: 3px 3px 10px 3px#646464;

    background-color: black;
    color: white;
}

.pc-image {
    border-radius: 15px 15px 0 0;

    grid-row: 1;
    grid-column: span 2;

    max-height: 380px;
}

.title {
    grid-row: 2;
    grid-column: span 2;

    margin: 5px;

    font-size: 20px;
}

.price {
    grid-row: 3;
    grid-column: 2;
}

.price-no-discount {
    grid-row: 3;
    grid-column: span 2;
}

.price-compare {
    grid-row: 3;
    grid-column: 1;

    margin-right: 10px;
    text-decoration: line-through;
    opacity: 0.8;
}

.buy-button {
    margin-bottom: 7px;
    grid-row: 4;
    grid-column: span 2;
}
