.sap-container {
  background-color: white;
  color: black;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.sap-container-dark {
  background-color: black;
  color: white;
}

.sap-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
