.fot-dark-theme {
  color: white;
  background-color: black;
}

.fot-social {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
  text-decoration-line: none;
}
.fot-social:hover {
  text-decoration-line: underline;
}

.fot-divider {
  opacity: 100;
  height: 0.5px;
}
