.addp-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;

    height: 660px;
    width: 350px;

    margin-bottom: 50px;
}

.ap-product-name {
    margin-top: 15px;
}

.addp-brand-name {
    margin-top: 15px;
}

.addp-categories {
    margin-top: 15px;
}

.addp-price {
    margin-top: 15px;
}

.addp-discount {
    margin-top: 15px;
}

.addp-product-image {
    margin-top: 15px;
}

.addp-product-size {
    margin-top: 15px;
}

.addp-product-new {
    margin-top: 15px;
}
