.container404-light {
    padding-top: 12%;
    padding-bottom: 12%;
    min-height: 90vh;
}

.container404-dark {
    padding-top: 12%;
    padding-bottom: 12%;
    background-color: black;
    color: white;
    min-height: 90vh;
}

.centered-column {
    text-align: center;
}
