.container404-light {
  padding-top: 12%;
  padding-bottom: 12%;
}

.container404-dark {
  padding-top: 12%;
  padding-bottom: 12%;
  background-color: black;
  color: white;
}

.centered-column {
  text-align: center;
}
