.ap-container {
    background-color: white;
    color: black;

    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ap-container-dark {
    background-color: black;
    color: white;
}

.download-pdf-button {
    margin-bottom: 20px;
}

.logo-dark {
    filter: invert(100%) sepia(0%) saturate(4848%) hue-rotate(9deg)
        brightness(116%) contrast(94%);
}
