.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.custom-alert.show {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-content {
    height: auto;
    width: 350px;
    position: relative;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 40px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    background-color: #ffffff;
    color: #000000;

    padding: 20px;

    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
}

.alert-content-dark {
    -webkit-box-shadow: 3px 3px 10px 3px #646464;
    -moz-box-shadow: 3px 3px 10px 3px #646464;
    box-shadow: 3px 3px 10px 3px#646464;

    background-color: black;
    color: white;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 27px;
}

.close:hover {
    color: red;
}

.alert-message {
    grid-row: 1;
    grid-column: span 2;
    text-align: center;
}

.alert-button {
    grid-row: 2;
    grid-column: span 2;
}
